.img-border
{
    border-radius: 20px;
}
.section-preguntas
{
    padding-left: 15vh;
    padding-right: 15vh;
}
.parrafo-sobremi
{
    text-align: justify;
    margin: $espacio-medio 0;
    font-size: $fuente-media;
    padding-left: 15vh;
    padding-right: 15vh;
}